<!DOCTYPE html>
<html ng-app="bitcoinCalculator" ng-controller="bitcoinController">
  <head>
    <meta charset="utf-8">
    <title>Bitcoin Profit Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css">
    <link rel="stylesheet" href="./style.css" charset="utf-8">
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <i class="fa fa-btc fa-5x" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1>Bitcoin Profit Calculator</h1>
          <br><br>
          <form role="form">
            <label for="starting-investment">Value of an initial investment (USD):</label>
            <input type="number" class="form-control"
            ng-model="initialAmt" placeholder="{{initialAmt}}">
          </form>
          <br>
          <p>Current price of 1 BTC: <span class="number">{{currRate | currency}}</span></p>
        </div>
      </div>
      <div class="row">
        <br><br>
        <div class="col-sm-8 col-sm-offset-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  If the price of 1 BTC reaches
                </th>
                <th>
                  your investment is worth
                </th>
                <th>
                  and your profit is
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="n in [1000, 5000, 10000, 25000, 50000]">
                <td>
                  ${{ n }}
                </td>
                <td>
                  {{ newAmt(n) | currency }}
                </td>
                <td>
                  {{ profit(n) | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div class="container">
          <h2>Historical Data</h2>
          <nvd3-line-chart
          data="bitcoinHistoricalData"
          xAxisTickFormat="xAxisTickFormatFunction()"
          height="250"
          width="440"
          showXAxis="true"
          showYAxis="true"
          isArea="true"
          useInteractiveGuideLine="true">
          <svg></svg>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-nvd3-directives/0.0.7/angularjs-nvd3-directives.min.js"></script>
    <script src="./bpi.js" charset="utf-8"></script>
    <script src="./calculate.js" charset="utf-8"></script>

  </body>
</html>
